<div class="container">
<h1>Lista de Tareas</h1>
<label for="tarea"> Nombre de la tarea:</label>
<input type="text" placeholder="ingresar tarea" [(ngModel)]="nombreTarea" id="tarea">
<button [disabled]="!nombreTarea" (click)="guardarTareas()">Guardar</button>

<ul>
    <li *ngFor="let tarea of tareas; let i = index" [class.tachado]="tarea.terminada">
        <input type="checkbox" [(ngModel)]="tarea.terminada" (change)="cambiarEstadodeTarea()">
        {{tarea.nombre}}
        <button (click)="eliminarTarea(i)" class="enlaceEliminar"><strong>&times;</strong></button> 
        <button (click)="editarTareas(i)">Editar</button> 
        <ng-container *ngIf="i === tareaEditando" >
        <input [(ngModel)]="tareas[tareaEditando].nombre" (blur)="guardarEdicion()">
        <button type="button" (click)="guardarEdicion()">Guardar</button>
        <button type="button" (click)="cancelarEdicion()">Cancelar</button>
    </ng-container>
    </li>
</ul>
<div class="tareasRealizadas">
    <strong>Tareas pendientes:</strong> {{tareaPendiente}}
    <br><br>
    <strong>Tareas realizadas:</strong> {{tareaRealizada}}

</div>

</div>